<h1>
Hello!
</h1>
<form action="/">
  <div> 
    <label for = "enter_num">Enter a number</label>
  </div> 
  <div> 
    <input id = "enter_num" placeholder="What number do you want to use" name="enter_num">
  </div>
  <div> 
    <button>Calculate square</button>
  </div> 
</form>
