<form action = "/payment/results">
<div>
  <label for = "APR"> APR </label>
  </div>
<div>
  <input id = "APR" placeholder = "E.g. 5.42" name = "APR">
  </div>
<div>
  <label for = "Num_year"> Number of years </label>
  </div>
<div>
  <input id = "Num_year" placeholder = "How many years to repay?" name = "Num_year">
</div>
<div>
  <label for = "Principle"> Principle </label>
  </div>
<div>
  <input id = "Principle" placeholder = "How much principle?" name = "Principle">
</div>
<div>
  <button>Calculate monthly payment</button>
  </div>
</form>
