h1>
  Random Results
  </h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%= @the_min %> #if there's no calculation to this, do I still need to convert this in app.rb?
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    <%= @the_max %>
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    <%= @the_result %>
  </dd>
</dl>

<a href = "/random/new"> Pick another random number</a>
