<form action="/random/results">
  <div> 
    <label for = "minimum">Minimum</label>
  </div> 
  <div> 
    <input id = "minimum" placeholder="E.g. 1.5" name="minimum">
  </div>
    <div> 
    <label for = "maximum">Maximum</label>
  </div> 
  <div> 
    <input id = "maximum" placeholder="E.g. 4.5" name="maximum">
  </div>
  <div> 
    <button>Pick random number</button>
  </div> 
</form>
