<form action="/square_root/results">
  <div> 
    <label for = "square_root_number">Enter a number</label>
  </div> 
  <div> 
    <input id = "square_root_number" placeholder="What number do you want to use" name="square_root_number">
  </div>
  <div> 
    <button>Calculate square root</button>
  </div> 
</form>
