<form action="/square/results">
  <div> 
    <label for = "user_number">Enter a number</label>
  </div> 
  <div> 
    <input id = "user_number" placeholder="What number do you want to use" name="user_number">
  </div>
  <div> 
    <button>Calculate square</button>
  </div> 
</form>
